@import "bootstrap-sprockets";
@import "bootstrap";

 .alert-error {
      background-color: #f2dede;
      border-color: #eed3d7;
      color: #b94a48;
      text-align: left;
   }

  .alert-alert {
      background-color: #f2dede;
      border-color: #eed3d7;
      color: #b94a48;
      text-align: left;
   }

  .alert-success {
      background-color: #dff0d8;
      border-color: #d6e9c6;
      color: #468847;
      text-align: left;
   }

  .alert-notice {
      background-color: #dff0d8;
      border-color: #d6e9c6;
      color: #468847;
      text-align: left;
   }

  .active-category {
    background-color: #cff09e;
  }

  .active-subcategory {
    background-color: #e5ffb3;
  }

  .search-btn {
    text-align: center;
    padding: 6px;
    margin-left: -20px;
    border-radius: 5px;
    display: block;
    font-size: 15px;
    color: #4d4b4b;
    border: 1px solid #d6d6d6;
    background: white;
  }

  .search-btn:focus {
    text-decoration: none;
    color: #4d4b4b;
  }

  .search-btn:active {
    text-decoration: none;
    color: #4d4b4b;
    background: #cff09e;
  }

  .search-btn:hover {
    text-decoration: none;
    color: #4d4b4b;
    background: #cff09e;
  }

  .order-btn {
    text-align: center;
    border-radius: 5%;
    padding: 3px;
    display: block;
    font-size: 15px;
    color: #754F44;
    border: 1px solid #d6d6d6;
    background: #FDD692;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s
  }

  .order-btn:focus {
    text-decoration: none;
    color: #754F44;
  }

  .order-btn:hover{
    text-decoration: none;
    color: #754F44;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .subcategory {
    padding: 7px 15px;
    font-size: 13px;
    margin-left: 20px;
  }

  .modal-header-info {
    color: #754F44;
    padding:9px 15px;
    background-color: #FDD692;
    border:1px solid #754F44;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .modal-body-info {
    color: #754F44;
    padding:30px 15px;
    background-color: #FBFFB9;
    border:1px solid #754F44;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
