= simple_form_for '', url: categories_path(params[:id]), remote: true, method: 'get' do |f|
 p
  = f.input :search, input_html: { value: params[:search] }
  = f.button :button, :search, class: 'btn-primary'
